PORT=4000
DATABASE_URL=postgresql://user:password@host:5432/dbname?sslmode=require
JWT_SECRET=76121
JWT_EXPIRES_IN=8h
FRONTEND_URL=http://localhost:5500
ADMIN_EMAIL=damefallvitrage@gmail.com
ADMIN_PASSWORD=IBZOFALL@
